@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap');

@layer components {
  input {
    @apply border border-gray-700 rounded-full p-3 bg-dark-secondary text-dark-text focus:outline-none focus:border-lime-500;
  }

  .bg-black {
    @apply bg-dark-primary;
  }

  .bg-black:hover {
    @apply bg-dark-secondary;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: theme('colors.dark.primary');
  color: theme('colors.dark.text');
}

a {
  text-decoration: none;
  color: theme('colors.dark.accent');
  transition: color 0.2s;
}

a:hover {
  color: #050505;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #192734;
}

::-webkit-scrollbar-thumb {
  background-color: #0b4e29;
  border-radius: 4px;
}
